@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "../src/styles/AddUser.css";
@import "../src/styles/Header.css";
@import "../src/styles/Home.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

.decription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}

.decription h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}

.decription .btn {
  display: inline-block;
  text-align: right;
}

.container {
  background: #e4d7d7;
  color: black;
  border-radius: 2.5em;
  padding: 2em;
  transition: transform 0.4s ease;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container .card {
  width: 380px;
  height: 230px;
  background: rgb(145, 14, 14);
  color: white;
  position: relative;
  border-radius: 2.5em;
  transition: transform 0.4s ease;
  flex-direction: column;
}

.container .card .h1 {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 20px 40px;
  transition: transform 0.4s ease;
}

.container .card .h2 {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 20px 40px;
  transition: transform 0.4s ease;
}

.container .card:hover {
  transform: translateY(-10px);
}

.modaloverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
